*{
    box-sizing: border-box;
}
body{
    float: left;
    font-size: 16px;
    color: black;
    background-color: #e1e1e1;
    font-weight: 1;
    line-height: 1.25;
    font-family: "roboto";
    text-align: left;
}
.tieude{
    width: 100%;
    text-align: center;
    font-size: 50px;
    background-color: aqua;
    height: 300px;

}
.tieude p{
    margin-top: -180px;
}
.section {
    float: left;
    width: 100%;
}
.container{
    float: none;
    margin: 0 auto;
    width: 800px;
}
.header{
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}
.logo{
    float: left;
    margin: 20px 30px;
}
.toplink{
    float: right;
    margin: 20px 30px;
}
.toplink ul{
    float: right;
}
.toplink ul li{
    float: left;
    margin-left: 30px;
    list-style: none;
}
img {
    max-width: 100%;
}
.section.manin {
    width: 1500px;
    margin-left:auto;
    margin-right: auto;
    float:none;
}
.container {
    float: left;
    width: 100%;
    border: 5px solid #5c1369;
}
.noidung {
    float: left;
    width: 100%;
    padding: 0 15px;
    margin: 15px 0;
    border: 1px solid #ffffff;
}
.banhh{
    float: left;
    width: 100%;
    padding: 10px 20px;
}
.banh {
    float: left;
    width: 23%;
    padding: 20px 20px;
    margin: 15px 20px;
    border: 1px solid blue;
    text-align: center;
    height: 400px;
}
.banhh h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 500;
    color: #232122;
    margin: 10px 0;
    letter-spacing: 1.5px;
}
.cl {
    float: left;
    width: 100%;
    border-top: dashed 10px #7d5985;
    margin: 10px 20px;
}
.trai {
    float: left;
    width: 70%;
    text-align: left;
}
.phai {
    float: right;
    width: 30%;
    text-align: left;
}
.cl h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 500;
    color: #232122;
    margin: 10px 0;
    letter-spacing: 1.5px;
}
.cl h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.phai .anhtren{
    float: left;
    margin:10px 0px;
   margin-bottom: 900px;
    padding-right: 15px;
}
.phai .anhduoi{
    float: left;
   margin: 100px 0px;
    padding-right: 15px;
}
.bl {
    width:100% ;
    padding: 5px 20px ;
}
.bl img {
    max-width :100%;
}
.footer {
    width: 100%;
    background: #fdfdfd;
    text-align: center;
    background-color: #e1e1e1;
}